@model IEnumerable<ServiceSystem.Web.Areas.Public.Models.Prices.PricesViewModel>

@{
    ViewBag.Title = "Pricelist";
}

<h2>Our services and prices</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Price range
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinPrice) to  @Html.DisplayFor(modelItem => item.MaxPrice) BGN
            </td>
        </tr>
    }
</table>
<hr/>
<span>Other services are available upon agreement</span>
