@{
    ViewBag.Title = "Contact";
}
<h2>How to find us</h2>

<address>
    Dondukov 14 blvd<br />
    Sofia, Bulgaria<br />
    <abbr title="Phone">P:</abbr>
    02/98765432
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:office@service.com">office@service.com</a><br />
</address>