
@{
    ViewBag.Title = "Home Page";
}
<h1>Вицове</h1>
<div class="row">
   
</div>
<h1>Категории</h1>
@(Ajax.ActionLink("test", "Test", new AjaxOptions
{
    UpdateTargetId="result"
}))
<div id="result">
    
</div>

