@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to Service.com</h1>
<div class="col-md-8">
    <img src="~/Content/imgs/repair.png" class="img-responsive" />
</div>
<div class="col-md-4">
    You have troubles with your devices and stuffs? Hi-tech djadjas are not working? You are at the right place. We will fix tour problems fast at competetive price and best quality
</div>


