@if (this.User.IsInRole(ServiceSystem.Common.GlobalConstants.AdministratorRoleName))
{
    <ul class="nav navbar-nav navbar-right">
       <li>@Html.ActionLink("Administration", "Index", "Administration", new { area = "Administration" }, null)</li>
    </ul>
}
