@if (this.User.IsInRole(ServiceSystem.Infrastructure.GlobalConstants.AdministratorRoleName))
{
    <ul class="nav navbar-nav">
        @*<li>@Html.ActionLink("Administration", "Index", "Administration", new { area = "Administration" }, null)</li>*@
        <li>@Html.ActionLink("Manage role Engineer", "Index", "Users", new { area = "Administration" }, null )</li>
        @*<li>@Html.ActionLink("Manage orders", "Index", "Orders")</li>*@
        <li>@Html.ActionLink("Manage categories", "Index", "Categories", new { area = "Administration" }, null)</li>
    </ul>
}
