@if (User.IsInRole("Engineer") || User.IsInRole("Administrator"))
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Create order", "Index", "CreateOrder")</li>
        <li>@Html.ActionLink("Pending orders", "Pending", "ListOrders")</li>
        <li>@Html.ActionLink("All orders", "Index", "OrdersGrid")</li>
    </ul>
}
