@if (User.IsInRole("Engineer") || User.IsInRole("Administrator"))
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Create order", "Add", "Order", new { area = "" }, null)</li>
        @*<li>@Html.ActionLink("Pending orders", "Pending", "ListOrders", new { area = "" }, null)</li>*@
        <li>@Html.ActionLink("All orders", "Index", "Orders", new { area = "" }, null)</li>
    </ul>
}
