<h1>Administration tasks</h1>

<ul class="list-group text-center">
    <li class="list-group-item">@Html.ActionLink("Manage role Engineer", "Index", "Users")</li>
    <li class="list-group-item">@Html.ActionLink("Manage orders", "Index", "Orders")</li>
    <li class="list-group-item">@Html.ActionLink("Manage categories", "Index", "Categories")</li>
</ul>